

			<section class="ds section_padding_top_15 section_padding_bottom_15 table_section section_bottom_overlap">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-9 col-sm-8 text-center text-sm-left">
							<div class="media small-teaser teaser inline-block">
								<div class="media-left media-middle">
									<div class="teaser_icon light_bg_color big_bg highlight2 round size_xsmall">
										<i class="fa fa-phone"></i>
									</div>
								</div>
								<div class="media-body media-middle">
									<span class="fontsize_20 medium grey">	01098924187</span>
									<br>
									<span class="small-text small-spacing">	
									 
										{{"Address"|translate}}</span>
								</div>
							</div>
							<!-- <div class="media small-teaser teaser inline-block">
								<div class="media-left media-middle">
									<div class="teaser_icon light_bg_color big_bg highlight2 round size_xsmall">
										<i class="fa fa-phone"></i>
									</div>
								</div>
								<div class="media-body media-middle">
									<span class="fontsize_20 medium grey">Open Hours</span>
									<br>
									<span class="small-text small-spacing">Weekdays 8.00-18.00, Sat: closed</span>
								</div>
							</div> -->
						</div>
						<div class="col-md-3 col-sm-4 text-center text-sm-right" >
							<a href="#pickup" class="theme_button color2 margin_0">{{"SCHEDULE A MEETING"|translate}}</a>
						</div>
					</div>
				</div>
			</section>

			<section class="intro_section page_mainslider ds">
				<div class="flexslider" data-dots="false">
					<ul class="slides">

						<li>
							<img src="../../assets/images/Cash.jpg" alt="">
							<div class="container">
								<div class="row">
									<div class="col-sm-12 text-center">
										<div class="slide_description_wrapper">
											<div class="slide_description">
												<div class="intro-layer" data-animation="fadeInRight">
													<h3 class="highlight">
														<!-- Return -->
													</h3>
												</div>
												<div class="intro-layer" data-animation="fadeInRight">
													<h2>
														{{'logoname' | translate}}
													</h2>
												</div>
												<div class="intro-layer" data-animation="fadeInRight">
													<h4>	{{'logoname2' | translate}}</h4><br>
                                                    <!-- <a href="gallery-extended-2-cols.html" class="theme_button color1">About us</a> -->
                                                    
												</div>
											</div>
											<!-- eof .slide_description -->
										</div>
										<!-- eof .slide_description_wrapper -->
									</div>
									<!-- eof .col-* -->
								</div>
								<!-- eof .row -->
							</div>
							<!-- eof .container -->
						</li>

						<li>
							<img src="../../assets/images/Header 1920x920 (1).jpg" alt="">
							<div class="container">
								<div class="row">
									<div class="col-sm-12 text-center">
										<div class="slide_description_wrapper">
											<div class="slide_description">
												<div class="intro-layer" data-animation="fadeInRight">
													<h2 class="small">
														{{'slide1'|translate}}
													</h2>
												</div>
												<div class="intro-layer" data-animation="fadeInRight">
													<h3 class="highlight text-uppercase bottommargin">
														{{"slide2"|translate}}
													</h3>
												</div>
												<div class="intro-layer" data-animation="fadeInRight">
													<p>We can solve your corporate IT disposition needs quickly and professionally.<br> Save Your community, Save Your planet</p>
													<a href="gallery-extended-2-cols.html" class="theme_button color1">{{"service"|translate}}</a>
												</div>
											</div>
											<!-- eof .slide_description -->
										</div>
										<!-- eof .slide_description_wrapper -->
									</div>
									<!-- eof .col-* -->
								</div>
								<!-- eof .row -->
							</div>
							<!-- eof .container -->
						</li>

						<li>
							<img src="../../assets/images/Header 1920x920 1 (1).jpg" alt="">
							<div class="container">
								<div class="row">
									<div class="col-sm-12 text-center">
										<div class="slide_description_wrapper">
											<div class="slide_description">
												<div class="intro-layer" data-animation="fadeInRight">
													<h3 class="highlight text-uppercase">
														<!-- Circular -->
													</h3>
												</div>
												<div class="intro-layer" data-animation="fadeInRight">
													<h2 class="text-uppercase">
													 
                                                   {{"slide3"|translate}}
													</h2>
												</div>
												<div class="intro-layer" data-animation="fadeInRight">
													<p>We can solve your corporate IT disposition needs quickly and professionally.<br> Save Your community, Save Your planet</p>
													<a href="gallery-extended-2-cols.html" class="theme_button color1">contact us</a>
												</div>
											</div>
											<!-- eof .slide_description -->
										</div>
										<!-- eof .slide_description_wrapper -->
									</div>
									<!-- eof .col-* -->
								</div>
								<!-- eof .row -->
							</div>
							<!-- eof .container -->
						</li>

                    </ul>
                    
				</div>
				<!-- eof flexslider -->
<!-- 
				<div class="scroll_button_wrap">
					<a href="#about" class="scroll_button">
						<span class="sr-only">scroll down</span>
                    </a>
                    
                </div> -->
                
                
            </section>
            <!-- second section about rebeikia -->
            


<section class="fw-main-row  ls section_padding_top_30 section_padding_bottom_100 columns_padding_15">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
	
	<div class="fw-divider-space " style="padding-top: 35px;"></div>
<div class="special-heading text-center">
	<h3 class=" section_header ">
	<span class=" regular  ">
		{{"about"|translate}}	</span>
	</h3>
</div>
<div class="text-block">
	<p class="entry-excerpt"><span style="color: #000000;">
		{{"bio"|translate}}
		
		<!-- By establishing the first national company as a pioneer in the field of
		 <span class="highlight">waste recycling</span>
		 , we are setting <span class="highlight">Egypt</span>
		  to become one of the first countries dominating the field. Our advanced use of 
		  <span class="highlight">local technology</span> and superior, strategic location makes
		   <span class="highlight">Rebeikia</span> 
		   a regional and international center in the field of recycling that replenishes raw materials in the country.
		   
		   Being an added value to the environment, health, economic and social sectors; in accord to 
		   <span class="highlight">Egypt's 2030 Sustainable Development Strategy.</span> -->
    </span>
            </p>
</div>

    <div class="fw-divider-space " style="padding-top: 5px;">
    </div>
</div>
</div></div>

</section>




<!-- third section our aims -->
 
<section class="fw-main-row  ls ms section_padding_top_30 section_padding_bottom_100 columns_padding_15">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
		<div class="media small-teaser shortcode-icon">
	<!-- <span class="icon-wrap theme-icon size_big">
		<i class="fa fa-dot-circle-o default_icon color_1"></i>
	</span> -->
	</div>
	<div class="text-block">
	<h3 style="text-align: center;">{{"Our Aims"|translate}}</h3></div>
</div>
<div class="col-xs-12 col-md-4 to_animate animated pullUp" data-animation="pullUp">
	
	<div class="fw-divider-space " style="padding-top: 45px;"></div>
	<div class="teaser icon_top text-center with_padding with_background ls ms rounded">
				<div class="teaser_icon size_big bg_color round color_1">
			<i class="fa fa-child"></i>
		</div>
					<h4>
					<a href="#">
		
	                     {{"Aspire"|translate}}
					</a>
				</h4>
					<p>
		{{"car1"|translate}}	</p>
					</div>
	</div>
<div class="col-xs-12 col-md-4 to_animate animated pullUp" data-animation="pullUp">
	
	<div class="fw-divider-space " style="padding-top: 45px; color: rgb(197, 26, 26);"></div>
	<div class="teaser icon_top text-center with_padding with_background ls ms rounded">
				<div class="teaser_icon size_big bg_color round color_2">
			<i class="rt-icon2-lightbulb3"></i>
		</div>
					<h4>
					<a href="#">
		
						  
						  {{"Inspire"|translate}}
					</a>
				</h4>
					<p>
						{{"car2"|translate}}
		</p>
					</div>
	</div>
<div class="col-xs-12 col-md-4 to_animate animated pullUp" data-animation="pullUp">
	
	<div class="fw-divider-space " style="padding-top: 45px;"></div>
	<div class="teaser icon_top text-center with_padding with_background ls ms rounded">
				<div class="teaser_icon size_big bg_color round color_3">
			<i class="fa fa-asl-interpreting" ></i>
		</div>
					<h4>
					<a href="#">
		
					
					{{"Transpire"|translate}}
					</a>
				</h4>
					<p>
						{{"car3"|translate}} 		</p>
					</div>
	</div>
		</div>
	</div>
</section>
 <!-- service section in home page  -->
 <section id="services" class="ls ms section_padding_100">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2 class="section_header with_icon">
                   {{ "Our Services"|translate}}
                </h2>
                <p class="small-text grey">{{"What we do"|translate}}</p>
            </div>
        </div>
        <div class="row columns_margin_bottom_20">
            <div class="col-md-4 col-sm-6">
                <article class="vertical-item content-padding with_background text-center rounded overflow-hidden">
                    <div class="item-media">
                        <img src="../../assets/images/waste recycling.jpg" alt="">
                    </div>
                    <div class="item-content">
                        <h4 class="entry-title">
                            <a href="service-single.html">{{"service1"|translate}}</a>
                        </h4>
                        <p class="margin_0">
							{{"service11"|translate}}
            </p>
                        <a  [routerLink]="['/serviceone']" class="read-more"></a>
                    </div>
                </article>
            </div>
            <div class="col-md-4 col-sm-6">
                <article class="vertical-item content-padding with_background text-center rounded overflow-hidden">
                    <div class="item-media">
                        <img src="../../assets/images/Technological Solution.jpg" alt="">
                    </div>
                    <div class="item-content">
                        <h4 class="entry-title">
                            <a href="service-single.html">{{"service2"|translate}}</a>
                        </h4>
                        <p class="margin_0">
							{{"service12"|translate}}
            </p>
                        <a  [routerLink]="['/serviceone']" class="read-more"></a>
                    </div>
                </article>
            </div>
            <div class="col-md-4 col-sm-6 col-sm-offset-3 col-md-offset-0">
                <article class="vertical-item content-padding with_background text-center rounded overflow-hidden">
                    <div class="item-media">
                        <img src="../../assets/images/Turn Trash Into Cash.jpg" alt="">
                    </div>
                    <div class="item-content">
                        <h4 class="entry-title">
                            <a href="service-single.html">{{"service3"|translate}}</a>
                        </h4>
                        <p class="margin_0">
							{{"service13"|translate}}
            </p>
                        <a [routerLink]="['/serviceone']" class="read-more"></a>
                    </div>
                </article>
            </div>
        </div>
        <div class="row topmargin_30">
            <div class="col-sm-12 text-center">
                <a [routerLink]="['/service']"  class="theme_button wide_button color1" >All services</a>
            </div>
        </div>
    </div>
</section>



<!-- sceduale meeting form  -->
<section class="fw-main-row  ds section_padding_top_30 section_padding_bottom_100 columns_padding_15 parallax section_overlay background_cover" 
style="background-image: url(&quot;http://rebeikia.com/wp-content/uploads/2017/06/progress.jpg&quot;); background-position: 50% -6px;" id="pickup">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 to_animate text-center animated fadeInUp" data-animation="fadeInUp">
	
	<div class="fw-divider-space " style="padding-top: 10px;"></div>
	<div class="media small-teaser shortcode-icon">
	<span class="icon-wrap theme-icon size_big">
		<i class="rt-icon2-calendar4 default_icon "></i>
	</span>
	</div>
	<div class="special-heading text-center">
	<h3 class=" section_header ">
	<span class=" regular  ">
	{{"Schedule"|translate}}	</span>
	</h3>
</div>

	<div class="fw-divider-space " style="padding-top: 50px;"></div>
<div class="form-wrapper  columns_padding_15">
	<form data-fw-form-id="fw_form" method="post" action="http://rebeikia.com/" class="fw_form_fw_form" data-fw-ext-forms-type="contact-forms"><input type="hidden" name="fwf" value="fw_form"><input type="hidden" id="_nonce_382829a97405f2cabd73ccd6d692d1a2" name="_nonce_382829a97405f2cabd73ccd6d692d1a2" value="3df760f058"><input type="hidden" name="_wp_http_referer" value="/"><input type="hidden" name="fw_ext_forms_form_type" value="contact-forms"><input type="hidden" name="fw_ext_forms_form_id" value="8cd15195cfd9741851034a3651935b94"><div class="wrap-forms">
	<div class="row"></div><div class="row"><div class="col-xs-12 col-md-3 form-builder-item">
	<div class="form-group has-placeholder">
		<label for="id-1">Name			<sup>*</sup>		</label>
		<i class="fa fa-street-view color1"></i>		<input class="form-control" type="text" name="text_1942184" placeholder="Name" value="" id="id-1" required="required">
					<p><em>Contact Name</em></p>
			</div>
</div><div class="col-xs-12 col-md-3 form-builder-item">
	<div class="form-group has-placeholder">
		<label for="id-2">Company  name			<sup>*</sup>		</label>
		<i class="fa fa-group color1"></i>		<input class="form-control" type="text" name="text_ac1496a" placeholder="Company name" value="" id="id-2" required="required">
					<p><em>Your Registered Company Name</em></p>
			</div>
</div><div class="col-xs-12 col-md-3 form-builder-item">
	<div class="form-group has-placeholder">
		<label for="id-3">Phone Number			<sup>*</sup>		</label>
		<i class="fa fa-phone color1"></i>		<input class="form-control" type="text" name="text_94fc087" placeholder="Phone Number" value="" id="id-3" required="required">
					<p><em>Contact Phone Number</em></p>
			</div>
</div><div class="col-xs-12 col-md-3 form-builder-item">
	<div class="form-group has-placeholder">
		<label for="id-4">Company Adress			<sup>*</sup>		</label>
		<i class="fa fa-automobile color1"></i>		<input class="form-control" type="text" name="text_9abc3b0" placeholder="Company Address" value="" id="id-4" required="required">
					<p><em>Your Company Address</em></p>
			</div>
</div></div><div class="row"><div class="col-xs-12 form-builder-item">
	<div class="form-group has-placeholder">
		<label for="id-5">Leave a Message					</label>
		<i class="fa fa-comment-o color1"></i>		<textarea class="form-control" rows="3" name="textarea_16bd6a9" placeholder="Message" id="id-5"></textarea>
					<p><em>Leave us a comment </em></p>
			</div>
</div></div><div class="row"></div></div><div class="wrap-forms wrap-forms-buttons topmargin_30">
	<div class="row">
		<div class="col-sm-12 wrap-buttons text-center">
			<input class="theme_button wide_button color1" type="submit" value="Confirm">
							<!-- <input class="theme_button wide_button" type="reset" value="Clear"> -->
					</div>
	</div>
</div></form></div></div>
		</div>
	</div>
</section>


<!-- package section  -->
<section class="fw-main-row  ls ms section_padding_top_30 section_padding_bottom_100 columns_padding_15" id="package">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 to_animate text-center shams animated fadeInUp" data-animation="fadeInUp">
	
	<div class="fw-divider-space " style="padding-top: 4px;"></div>
	<div class="media small-teaser shortcode-icon">
	<span class="icon-wrap theme-icon size_big">
		<i class=" default_icon color_3"></i>
	</span>
	</div>
	<div class="special-heading text-center">
	<h3 class=" section_header ">
	<span class=" regular  ">
		Partner With Us	</span>
	</h3>
	<p class="  paragraph">
	<span class="grey regular text-uppercase spacing-text-small">
			</span>
	</p>
</div>

	<div class="fw-divider-space " style="padding-top: 4px;"></div>
</div>
<div class="col-xs-12 col-md-6 to_animate text-center animated pullUp" data-animation="pullUp">
	
	<div class="fw-divider-space " style="padding-top: 15px;"></div>
<img src="../../assets/images/Asset 8.png" alt="//rebeikia.com/wp-content/uploads/2020/02/Asset-8.png"></div>
<div class="col-xs-12 col-md-6 to_animate animated pullUp" data-animation="pullUp">
	
	<div class="fw-divider-space " style="padding-top: 15px;"></div>
<img src="../../assets/images/Asset 7.png" alt="//rebeikia.com/wp-content/uploads/2020/02/Asset-7.png"></div>

	<div class="fw-divider-space " style="padding-top: 50px;"></div>
		</div>
	</div>
</section>














































