<section class="page_breadcrumbs ds parallax section_padding_top_65 section_padding_bottom_65">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2 class="highlight">Breadcrumbs 1</h2>
                <ol class="breadcrumb darklinks">
                    <li>
                        <a href="./">
                Home
            </a>
                    </li>
                    <li>
                        <a href="#">Features</a>
                    </li>
                    <li class="active">Breadcrumbs 1</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="ls section_padding_top_100 section_padding_bottom_100">
    <div class="container">
        <div class="row topmargin_30 columns_margin_bottom_20">
            <div class="col-md-4 col-sm-6">
                <article class="vertical-item content-padding with_background text-center rounded overflow-hidden">
                    <div class="item-media">
                        <img src="../../../assets/images/Community Engagement.jpg" alt="">
                    </div>
                    <div class="item-content">
                        <h4 class="entry-title">
                            <a  [routerLink]="['/serviceone']" >Technological Solution</a>
                        </h4>
                        <p class="margin_0">
                            Our waste recycling system is at the core of our operation and for it to function efficiently 
                            <!-- efficiently we take great care in processing and handling -->
            </p>
                        <a  [routerLink]="['/serviceone']"  class="read-more"></a>
                    </div>
                </article>
            </div>
            <div class="col-md-4 col-sm-6">
                <article class="vertical-item content-padding with_background text-center rounded overflow-hidden">
                    <div class="item-media">
                        <img src="../../../assets/images/Community Engagement.jpg"alt="">
                    </div>
                    <div class="item-content">
                        <h4 class="entry-title">
                            <a [routerLink]="['/servicetwo']">Analytics </a>
                        </h4>
                        <p class="margin_0">
                            Numbers do not lie. In Rebeikia we understand how vital it is for the businesses to interpret the kind of waste they produce, 
                            <!-- the businesses to interpret the kind of waste they produce,  -->
                            <!-- the sizable contribution they can have in the economy and the importance of every business owner to reach their -->
            </p>
                        <a [routerLink]="['/servicetwo']" class="read-more"></a>
                    </div>
                </article>
            </div>
            <div class="col-md-4 col-sm-6">
                <article class="vertical-item content-padding with_background text-center rounded overflow-hidden">
                    <div class="item-media">
                        <img src="../../../assets/images/Community Engagement.jpg"alt="">
                    </div>
                    <div class="item-content">
                        <h4 class="entry-title">
                            <a [routerLink]="['/servicethree']">Brand Empowerment</a>
                        </h4>
                        <p class="margin_0">
                            Numbers do not lie. In Rebeikia we understand how vital it is for the businesses to interpret the kind of waste they produce, 

            </p>
                        <a c class="read-more"></a>
                    </div>
                </article>
            </div>
            <div class="col-md-4 col-sm-6">
                <article class="vertical-item content-padding with_background text-center rounded overflow-hidden">
                    <div class="item-media">
                        <img src="../../../assets/images/Community Engagement.jpg" alt="">
                    </div>
                    <div class="item-content">
                        <h4 class="entry-title">
                            <a [routerLink]="['/servicefour']">Community Engagement</a></h4>
                        <p class="margin_0">
                Our community is the pillar that supports us and is inevitably the main driving force for our success
                 <!-- which is why community 
                engagement is an essential part of our plan, we aspire to achieve that through -->
            </p>
                        <a [routerLink]="['/servicefour']" class="read-more"></a>
                    </div>
                </article>
            </div>
            <div class="col-md-4 col-sm-6">
                <article class="vertical-item content-padding with_background text-center rounded overflow-hidden">
                    <div class="item-media">
                        <img src="../../../assets/images/Community Engagement.jpg" alt="">
                    </div>
                    <div class="item-content">
                        <h4 class="entry-title">
                            <a [routerLink]="['/servicefive']">Waste Recycling </a>
                        </h4>
                        <p class="margin_0">
                            Recycling comes in several forms and is beneficial in many ways. Converting non recyclable products to electricity 
                            <!-- to power our neighborhoods is an aligned goal with Egypt's
                             Sustainable Development Goals  for 2030 and it is our goal to enable  -->
                             </p>
                        <a [routerLink]="['/servicefive']" class="read-more"></a>
                    </div>
                </article>
            </div>
            <div class="col-md-4 col-sm-6">
                <article class="vertical-item content-padding with_background text-center rounded overflow-hidden">
                    <div class="item-media">
                        <img src="../../../assets/images/Community Engagement.jpg" alt="">
                    </div>
                    <div class="item-content">
                        <h4 class="entry-title">
                            <a [routerLink]="['/servicesex']">Turn Trash Into Cash </a>
                        </h4>
                        <p class="margin_0">
                            We redefine the concept of municipality via our reward system which is one of 
                            <!-- its kind in the MENA region that actualizes an extra source of
                            
                            income to your business; through: -->
                             </p>
                        <a [routerLink]="['/servicesex']" class="read-more"></a>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>
