
<footer id="footer" class="page_footer section_padding_top_125 section_padding_bottom_90 columns_padding_25 ds">
	<div class="container">

		<div class="row">
			<div class="col-xs-12 col-md-4 text-center to_animate animated fadeInUp" data-animation="fadeInUp">
				<div id="gogreen_socials-6" class="widget-odd widget-first widget-1 widget widget_socials"><h3 class="widget-title">Social Media</h3>		<div class="widget-socials no-bullets no-top-border no-bottom-border topmargin_20">
									<a href="https://www.facebook.com/Rebeikia/" target="_blank" class="social-icon color-bg-icon fontsize_12 rounded-icon social-icon soc-facebook"></a>
									<a href="https://instagram.com/rebeikia?igshid=1q5fuyv40lh35" target="_blank" class="social-icon color-bg-icon fontsize_12 rounded-icon social-icon soc-instagram"></a>
									<a href="https://twitter.com/rebeikia" target="_blank" class="social-icon color-bg-icon fontsize_12 rounded-icon social-icon soc-twitter"></a>
									<a href="https://www.linkedin.com/company/rebeika" target="_blank" class="social-icon color-bg-icon fontsize_12 rounded-icon social-icon soc-linkedin"></a>
									</div>
		</div><div id="gogreen_icons_list-7" class="widget-even widget-last widget-2 widget widget_icons_list"><h3 class="widget-title">Reach Us</h3>		<div class="widget-icons-list no-bullets no-top-border no-bottom-border">
							<div class="media small-teaser inline-block margin_0">
											<div class="media-left">
							<i class="fa fa-phone highlight"></i>
                        </div> 
               <div class="media-body">
							<span class="grey highlightlinks">
								+02 38344441		</span>
						</div>
									</div>
<div class="media small-teaser inline-block margin_0">
			<div class="media-left">
							<i class="fa fa-phone highlight"></i>
						</div>
				<div class="media-body">
							<span class="grey highlightlinks">
								+02 38349440			</span>
						</div>
	</div>
					</div>
		</div>			</div>
			<div class="col-xs-12 col-md-4 text-center to_animate animated fadeInUp" data-animation="fadeInUp">
		<div id="text-3" class="widget-odd widget-last widget-first widget-1 widget widget_text"><h3 class="widget-title"><span class="first-word">Contact</span> <span class="last-word">Form</span></h3>			<div class="textwidget"><div role="form" class="wpcf7" id="wpcf7-f43-o1" lang="en-US" dir="ltr">
<div class="screen-reader-response"></div>
<form action="/#wpcf7-f43-o1" method="post" class="wpcf7-form" novalidate="novalidate">
<div style="display: none;">
<input type="hidden" name="_wpcf7" value="43">
<input type="hidden" name="_wpcf7_version" value="5.1.6">
<input type="hidden" name="_wpcf7_locale" value="en_US">
<input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f43-o1">
<input type="hidden" name="_wpcf7_container_post" value="0">
</div>
<p><span class="wpcf7-form-control-wrap your-name"><input type="text" name="your-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required form-control text-center" aria-required="true" aria-invalid="false" placeholder="Full Name"></span></p>
<p><span class="wpcf7-form-control-wrap your-email"><input type="email" name="your-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email form-control text-center" aria-required="true" aria-invalid="false" placeholder="Email Address"></span></p>
<p><span class="wpcf7-form-control-wrap your-message"><textarea name="your-message" cols="45" rows="3" class="wpcf7-form-control wpcf7-textarea form-control text-center" aria-invalid="false" placeholder="Message"></textarea></span></p>
<p><input type="submit" value="Send Message" class="wpcf7-form-control wpcf7-submit theme_button wide_button"><span class="ajax-loader"></span></p>
<div class="wpcf7-response-output wpcf7-display-none"></div></form></div></div>
		</div>			</div>
			<div class="col-xs-12 col-md-4 text-center to_animate animated fadeInUp" data-animation="fadeInUp">
				<div id="custom_html-6" class="widget_text widget-odd widget-first widget-1 widget widget_custom_html"><h3 class="widget-title"><span class="first-word">Find</span> <span class="last-word">Us</span></h3><div class="textwidget custom-html-widget"><!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3451.177010467768!2d31.603893815023667!3d30.117747981855757!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14581c5c127877bf%3A0xed62c34c8fb0b113!2sBUE+-+The+British+University+In+Egypt!5e0!3m2!1sen!2seg!4v1556101979206!5m2!1sen!2seg" width="300" height="250" frameborder="2" style="border:0" allowfullscreen></iframe> -->
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d110594.26070364288!2d30.973985140836245!3d29.977399622448075!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xf3c60d955cc9ae1b!2sEl%20Safwa%20Group%20for%20Development%20and%20Project%20Management!5e0!3m2!1sen!2seg!4v1580828898511!5m2!1sen!2seg" width="600" height="250" frameborder="0" style="border:0;" allowfullscreen=""></iframe></div></div>			</div>
		</div>

	</div>
</footer>
