


	<section class="page_breadcrumbs ds parallax section_padding_top_65 section_padding_bottom_65">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 text-center">
					<h2 class="highlight">About</h2>
					<ol class="breadcrumb darklinks">
						<li>
							<a href="./">
					Home
				</a>
						</li>
						<!-- <li>
							<a href="#">Features</a>
						</li> -->
						<li class="active">about</li>
					</ol>
				</div>
			</div>
		</div>
	</section>

<div class="fw-page-builder-content"><section class="fw-main-row  ls ms section_padding_top_30 section_padding_bottom_40 columns_padding_15" id="about">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 to_animate text-center col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2  animated fadeInUp" data-animation="fadeInUp">
	
	<div class="fw-divider-space " style="padding-top: 10px;"></div>
	<div class="media small-teaser shortcode-icon">
	<span class="icon-wrap theme-icon size_big">
		<i class=" default_icon color_3"></i>
	</span>
	</div>
	<div class="special-heading text-center">
	<h2 class=" section_header ">
	<span class=" regular  ">
		About Rebeikia	</span>
	</h2>
	<p class="  paragraph">
	<span class="black regular text-uppercase spacing-text-small">
			</span>
	</p>
</div>

	<div class="fw-divider-space " style="padding-top: 20px;"></div>
<div class="text-block">
	<p  i182 class="entry-excerpt" style="text-align: justify;">Rebeikia is a joint stock company located in Cairo, Egypt. Proudly serving all business sectors to achieve the 2030 national sustainable development strategies of Egypt. We follow the highest international code for waste disposal. Being environmentally conscious and revolutionizing waste management. It is our goal to reform the current waste collection system in Egypt. With the active participation of giving back to the community, through green energy, and charity. Shaping the future.</p></div>

	<div class="fw-divider-space " style="padding-top: 30px;"></div>
</div>
		</div>
	</div>
</section>
<section class="fw-main-row  ls section_padding_top_30 section_padding_bottom_40 columns_padding_15 col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2 ">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2 ">
		<div class="media small-teaser shortcode-icon">
	<span class="icon-wrap theme-icon size_big">
		<i class="fa fa-smile-o default_icon color_3"></i>
	</span>
	</div>
	<div class="special-heading text-center">
	<h3 class=" section_header ">
	<span class=" regular  ">
		Advantages	</span>
	</h3>
</div>
</div>
<div class="col-xs-12 col-md-3 to_animate animated pullUp" data-animation="pullUp">
	
	<div class="fw-divider-space " style="padding-top: 35px;"></div>
	<div class="teaser icon_top text-center with_padding with_border rounded">
				<div class="teaser_icon size_big bg_color round color_2">
			<i class="rt-icon2-medal"></i>
		</div>
					<h4>
					<a href="#">
		
	   	Quality Service
					</a>
				</h4>
					<p>
			The pillar on which our longevity depends which is why we promise our partners Reliability,
			 Dependability, Accuracy, Consistency and Responsiveness. We always deliver on our promises.		</p>
					</div>
	</div>
<div class="col-xs-12 col-md-3 to_animate animated pullUp" data-animation="pullUp">
	
	<div class="fw-divider-space " style="padding-top: 35px;"></div>
	<div class="teaser icon_top text-center with_padding with_border rounded">
				<div class="teaser_icon size_big bg_color round color_1">
			<i class="rt-icon2-thumbs-o-up"></i>
		</div>
					<h4>
					<a href="#">
		
		Customer Satisfaction
					</a>
				</h4>
					<p>
			Rigorous quality control that familiarizes our partner's with our services to meet and surpass expectations.  Ensuring our customer centric strategy.  		</p>
					</div>
	</div>
<div class="col-xs-12 col-md-3 to_animate animated pullUp" data-animation="pullUp">
	
	<div class="fw-divider-space " style="padding-top: 35px;"></div>
	<div class="teaser icon_top text-center with_padding with_border rounded">
				<div class="teaser_icon size_big bg_color round color_3">
			<i class="fa fa-bar-chart-o"></i>
		</div>
					<h4>
					<a href="#">
		
		Analytics
					</a>
				</h4>
					<p>
			We provide up to date accurate data so your business approaches their next quarter efficiently and consciously costing you and the environment less.		</p>
					</div>
	</div>
<div class="col-xs-12 col-md-3 to_animate animated pullUp" data-animation="pullUp">
	
	<div class="fw-divider-space " style="padding-top: 35px;"></div>
	<div class="teaser icon_top text-center with_padding with_border rounded">
				<div class="teaser_icon size_big bg_color round color_3">
			<i class="fa fa-users"></i>
		</div>
					<h4>
					<a href="#">
		
		 Communal service
					</a>
				</h4>
					<p>
			Without education no amount of work matters, we don't just recycle we also teach your team and industry how to be more efficient, produce less waste, and cost your business less. 		</p>
					</div>
	</div>
<div class="col-xs-12 col-md-3 to_animate animated pullUp" data-animation="pullUp">
	
	<div class="fw-divider-space " style="padding-top: 35px;"></div>
	<div class="teaser icon_top text-center with_padding with_border rounded">
				<div class="teaser_icon size_big bg_color round color_3">
			<i class="fa fa-angellist"></i>
		</div>
					<h4>
					<a href="#">
		
		National Project
					</a>
				</h4>
					<p>
			Partnering up with the local authorities; we aim to be the pioneer of change in Egypt.
            Rebeikia is the first national mega waste management project that is 100% owned and operated nationally.		</p>
					</div>
	</div>
<div class="col-xs-12 col-md-3 to_animate animated pullUp" data-animation="pullUp">
	
	<div class="fw-divider-space " style="padding-top: 35px;"></div>
	<div class="teaser icon_top text-center with_padding with_border rounded">
				<div class="teaser_icon size_big bg_color round color_3">
			<i class="fa fa-recycle"></i>
		</div>
					<h4>
					<a href="#">
		
		Environmental Conscious
					</a>
				</h4>
					<p>
			The discipline to  deliver efficient service appropriately, every-time.  We do our best to deliver ethical service and to avert landfill and to promote environmental awareness. 		</p>
					</div>
	</div>
<div class="col-xs-12 col-md-3 to_animate animated pullUp" data-animation="pullUp">
	
	<div class="fw-divider-space " style="padding-top: 35px;"></div>
	<div class="teaser icon_top text-center with_padding with_border rounded">
				<div class="teaser_icon size_big bg_color round color_2">
			<i class="rt-icon2-cog-outline"></i>
		</div>
					<h4>
					<a href="#">
		
		Business Solution
					</a>
				</h4>
					<p>
			We offer a hassle-free solution to our partners that guarantees satisfaction and long-term investment through our technology to professionally and consciously dispose of their waste.		</p>
					</div>
	</div>
<div class="col-xs-12 col-md-3 to_animate animated pullUp" data-animation="pullUp">
	
	<div class="fw-divider-space " style="padding-top: 35px;"></div>
	<div class="teaser icon_top text-center with_padding with_border rounded">
				<div class="teaser_icon size_big bg_color round color_1">
			<i class="fa fa-dollar"></i>
		</div>
					<h4>
					<a href="#">
		
		Generate Income
					</a>
				</h4>
					<p>
			Guaranteed that all of your universal waste management is performed safely and efficiently, therefore increasing the value of returned output and overall revenue.
		</p>
					</div>
	</div>
		</div>
	</div>
</section>

	<div class="fw-divider-space " style="padding-top: -2px;"></div>
<section class="fw-main-row  ls section_padding_top_0 section_padding_bottom_0 columns_padding_15 fullwidth-section table_section table_section_md">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 col-md-6 with_background background_cover" style="background-image:url(http://rebeikia.com/wp-content/uploads/2020/02/About-1.jpg);">
	</div>
<div class="col-xs-12 col-md-6 to_animate text-left animated fadeInRight" data-animation="fadeInRight">
	
	<div class="fw-divider-space " style="padding-top: 95px;"></div>
	<div class="media small-teaser shortcode-icon">
	<span class="icon-wrap theme-icon size_normal">
		<i class=" default_icon color_1"></i>
	</span>
	</div>
	
	<div class="fw-divider-space " style="padding-top: 20px;"></div>
<div class="bootstrap-accordion">
	<div class="panel-group" id="accordion-785a4aa90931d2b3768cb88a04b84805">
					<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a class="" href="#collapse-785a4aa90931d2b3768cb88a04b84805-0" data-toggle="collapse" data-parent="#accordion-785a4aa90931d2b3768cb88a04b84805">
														Mission						</a>
					</h4>
				</div>
				<div id="collapse-785a4aa90931d2b3768cb88a04b84805-0" class="panel-collapse collapse in">
					<div class="panel-body">
													We are dedicated to spear heading the waste recycling sector in Egypt and shifting it into a self-sufficient system that can naturally fall into place with Egypt’s 2030 vision; where waste management can be self-sustaining while simultaneously being environmentally friendly and all round profitable for all parties involved.											</div>
				</div>
			</div>
					<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a class="collapsed" href="#collapse-785a4aa90931d2b3768cb88a04b84805-1" data-toggle="collapse" data-parent="#accordion-785a4aa90931d2b3768cb88a04b84805">
														Vision						</a>
					</h4>
				</div>
				<div id="collapse-785a4aa90931d2b3768cb88a04b84805-1" class="panel-collapse collapse ">
					<div class="panel-body">
													To inspire and challenge Egypt to achieve the highest waste reduction, recycling, and reuse goals in the nation through innovation and creativity, sound advancements in science and technology, and efficient programs that improve economic vitality and environmental sustainability.											</div>
				</div>
			</div>
					<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a class="collapsed" href="#collapse-785a4aa90931d2b3768cb88a04b84805-2" data-toggle="collapse" data-parent="#accordion-785a4aa90931d2b3768cb88a04b84805">
														Values						</a>
					</h4>
				</div>
				<div id="collapse-785a4aa90931d2b3768cb88a04b84805-2" class="panel-collapse collapse ">
					<div class="panel-body">
													Our values are Innovation, Education, Efficiency and Enactment. 
											</div>
				</div>
			</div>
			</div>
</div>
	<div class="fw-divider-space  hidden-sm hidden-xs" style="padding-top: 140px;"></div>

	<div class="fw-divider-space  hidden-lg hidden-md" style="padding-top: 75px;"></div>
</div>
		</div>
	</div>
</section>
</div>